.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #171717;
  border-radius: 8px;
  max-width: 35rem;

  a {
    text-decoration: none;
    color: #f2eaea;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    transition: all 0.2s ease;
    border-left: 4px solid transparent;
  }

  a:hover {
    color: #171717;
    border-left-color: #1a73e8;
    background-color: #fff;
  }
}
